@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    /* Primary Color */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /* Secondary Color */
    --paragraph: hsla(0, 0%, 100%, 0.75);
    --light-gray: hsl(0, 0%, 95%);
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: var(--light-gray);
    padding: 4em 0;
}

.container {
    height: 100%;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 10px;
    overflow: hidden;
}
.container > div {
    padding: 3rem 3rem;
}

.sedan {
    background-color: var(--bright-orange);
}

.suv {
    background: var(--dark-cyan);
}

.luxury {
    background: var(--very-dark-cyan);
}

.title {
    font-family: 'Big Shoulders Display', serif;
    font-size: 2.3rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 2rem 0 2rem 0;
}

.txt {
    font-size: 1rem;
    line-height: 2em;
    margin-bottom: 2em;
}

button {
    padding: .9rem 2rem;
    background: var(--light-gray);
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 2em;
    cursor: pointer;
    font-family: 'Lexend Deca';
    font-size: 0.95rem;
    font-weight: 400;
}

.sedan button {
    color: var(--bright-orange);
}
.suv button {
    color: var(--dark-cyan);
}
.luxury button {
    color: var(--very-dark-cyan);
}

