@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  padding: 0 50px;
  margin: auto;
}

.container-mb {
  padding: 0 20px;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}
